<!DOCTYPE html>
<html>
<head>
    <title>Nodejs之发送邮件nodemailer</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div style="text-align: center">
    <% if(typeof(message) !== 'undefined' && message){ %>
    <div>
        <% if(message.match("成功")){ %>
        <p style="color: #0effa5;"><%= message %></p>
        <% } else { %>
        <p style="color: #ff0000;"><%= message %></p>
        <% } %>
    </div>
    <% } %>
    <form id='mailsend' action='/mails' method='post'>
        <div>
            <label for='mail'>邮箱地址</label>
            <input id='mail' name='mailaddress' type='text'/>
            <input type='submit' value='Send'/>
        </div>
    </form>
</div>
</body>
</html>
